<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <!--위에는 파일만 밑에는 경로만 쓰면 경로안에있는것들이야-->
    <!--밑에는 쿼리문 이름 여기로 하면 값으로보내줌-->
    <context-param>
        <param-name>connection-info</param-name>
        <param-value>/WEB-INF/config/connection-info.properties</param-value>
    </context-param>
    <context-param>
        <param-name>mapper-location</param-name>
        <param-value>/WEB-INF/mapper/</param-value>
    </context-param>
</web-app>